@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-background: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --element-background: white;
}

.body--dark-theme {
  --body-background: hsl(207, 26%, 17%);
  --text-color: white;
  --element-background: hsl(209, 23%, 22%);
}

body {
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--body-background);
  color: var(--text-color);
}

::-moz-placeholder {
  color: var(--text-color);
}

:-ms-input-placeholder {
  color: var(--text-color);
}

a, input, button, ::placeholder {
  color: var(--text-color);
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--element-background);
}
.header .header__toggle-theme-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header .header__toggle-theme-btn .header__toggle-theme-img {
  width: 20px;
}
.header .header__toggle-theme-btn .header__toggle-theme-btn-text {
  font-size: 15px;
}

.main {
  padding: 50px 15px 80px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.main .main__back-btn {
  background-color: var(--element-background);
  padding: 8px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.main .main__country-container {
  display: flex;
  gap: 50px;
  width: 100%;
}
.main .main__country-container .main__flag {
  width: 40%;
}
.main .main__country-container .main__info-container {
  align-self: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .main__country-container .main__info-container p {
  font-weight: 800;
}
.main .main__country-container .main__info-container span {
  font-weight: 300;
}
.main .main__country-container .main__info-container .main__sub-info-container {
  display: flex;
  gap: 90px;
}
.main .main__country-container .main__info-container .main__sub-info-container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main .main__country-container .main__info-container .main__borders-container {
  display: flex;
  gap: 10px;
}
.main .main__country-container .main__info-container .main__borders-container .main__borders-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.main .main__country-container .main__info-container .main__borders-container .main__borders-items .main__border-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .main {
    padding: 50px 15px 80px 30px;
  }
  .main .main__country-container {
    gap: 25px;
  }
  .main .main__country-container .main__flag {
    width: 45%;
  }
  .main .main__country-container h2 {
    font-size: 17px;
  }
  .main .main__country-container p, .main .main__country-container span {
    font-size: 13.5px;
  }
  .main .main__country-container .main__info-container {
    width: 100%;
    gap: 10px;
  }
  .main .main__country-container .main__info-container .main__sub-info-container {
    gap: 50px;
  }
  .main .main__country-container .main__info-container .main__sub-info-container div {
    gap: 3px;
  }
}
@media only screen and (max-width: 770px) {
  .header {
    padding: 40px 20px;
  }
  .header .header__title {
    font-size: 1.25rem;
  }
  .header .header__toggle-theme-btn {
    gap: 5px;
  }
  .header .header__toggle-theme-btn .header__toggle-theme-img {
    width: 15px;
  }
  .header .header__toggle-theme-btn .header__toggle-theme-btn-text {
    font-size: 13px;
  }
  .main {
    padding: 30px 100px 80px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .main .main__back-btn {
    padding: 5px 10px;
  }
  .main .main__country-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
  .main .main__country-container .main__flag {
    width: 85%;
  }
  .main .main__country-container .main__info-container {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .main .main__country-container .main__info-container h2 {
    font-size: 22px;
  }
  .main .main__country-container .main__info-container p, .main .main__country-container .main__info-container span {
    font-size: 16px;
  }
  .main .main__country-container .main__info-container .main__sub-info-container {
    flex-direction: column;
    gap: 20px;
  }
  .main .main__country-container .main__info-container .main__sub-info-container div {
    gap: 5px;
  }
  .main .main__country-container .main__info-container .main__borders-container {
    flex-direction: column;
    width: 80%;
  }
}/*# sourceMappingURL=country.css.map */